.btn-down {
    position: relative;
    z-index: 1;

    svg path {
        fill: transparent;
        transition: .3s fill linear;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 134px;
        height: 134px;
        background: $blue;
        border-radius: 50%;
        box-shadow: 1px -1px 45px 47px rgba(21, 34, 61, 1);
        z-index: -1;
        transform: translate(-50%, -50%);
        transition: .3s transform cubic-bezier(0.4, 0.25, 0, 1);
    }

    &:hover {
        svg path {
            fill: $white;
        }

        &::after {
            transform: translate(-50%, -50%) scale(1.5);
        }
    }
}

.btn-play {
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
    z-index: 3;
    padding: 20px;

    svg path {
        fill: transparent;
        transition: .3s fill linear;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 15px;
        background: $blue;
        border-radius: 50%;
        box-shadow: 1px -1px 45px 47px rgba(21, 34, 61, 1);
        z-index: -1;
        transform: translate(-50%, -50%);
        transition: .3s transform cubic-bezier(0.4, 0.25, 0, 1);
    }

    &:hover {
        svg path {
            fill: $white;
        }

        &::after {
            transform: translate(-50%, -50%) scale(2.4);
        }
    }
}

.oval-button {
    position: relative;
    display: inline-block;
    border-radius: 22.5px;
    background-color: transparent;
    transition: .3s background linear;

    .text {
        font-family: $avenir-r;
        font-size: 14px;
        color: $white;
        text-align: center;
        text-transform: lowercase;
        padding: 12px 27px;
        transition: .3s transform linear;
    }

    .border {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $white;
        border-radius: 22.5px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 22.5px;
            transition: .3s transform linear;
            pointer-events: none;
        }

        &::before {
            bottom: -10px;
            border: 1px solid rgba(255, 255, 255, 0.4);
        }

        &::after {
            bottom: -20px;
            border: 1px solid rgba(255, 255, 255, 0.15);
        }
    }

    .shadow {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80px;
        height: 80px;
        background: $blue;
        border-radius: 50%;
        box-shadow: 1px -1px 45px 47px rgba(21, 34, 61, 1);
        z-index: -1;
        transform: translate(-50%, -50%);
        transition: .3s transform cubic-bezier(0.4, 0.25, 0, 1);
    }

    &:hover {
        background-color: $white;

        .text {
            color: #000;
        }

        .border {
            &::before {
                transform: translateY(-10px);
            }

            &::after {
                transform: translateY(-20px);
            }
        }

        .shadow {
            transform: translate(-50%, -50%) scale(1.5);
        }
    }
}
