.footer {
    position: absolute;
    bottom: 20px;
    right: 28px;

    @media (max-width: 1200px) {
        right: 13px;
    }

    @media (max-width: 991px) {
        position: relative;
        bottom: auto;
        right: auto;
        padding: 25px 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
    }
}

.apo-branding {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: $avenir-m;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0;
    text-align: right;

    .logo {
        display: inline-block;
        width: 15px;
        height: 10px;
        background: #FFFF02;
        margin: 0 3px 0 4px;
    }

    a {
        display: flex;
        align-items: center;
        font-family: $avenir-m;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.5);
        letter-spacing: 0;
    }
}
