.contact-form {
    max-width: 780px;
    margin: 0 auto;
    padding: 0 15px;

    legend {
        font-family: $avenir-h;
        font-size: 18px;
        color: $white;
        line-height: 22px;
        margin-bottom: 58px;
    }

    .inputs-group {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;

        &:last-of-type {
            margin-bottom: 15px;
        }

        input,
        textarea {
            font-family: $avenir-m;
            font-size: 16px;
            color: $white;
            letter-spacing: 0;
            caret-color: #fff;
            width: 100%;
        }

        textarea {
            resize: none;
            padding: 0;
            padding-top: 7px;
        }

        .input__label {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            font-family: $avenir-m;
            font-size: 16px;
            color: $white;
            letter-spacing: 0;
            transition: .3s all linear;
            margin-bottom: 0;
            width: 100%;
            text-align: left;
            padding: 0;
            pointer-events: none;
        }

        .input {
            position: relative;
            width: 48%;
            padding: 0;

            div {
                overflow-x: hidden;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

            &--textarea {
                width: 100%;
            }

            .graphic {
                position: absolute;
                top: 0;
                left: 0;
                stroke: rgba(#fff, .3);
                pointer-events: none;
                transition: transform 0.7s, stroke 0.7s;
                transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
            }
        }

        .input__field:focus+.input__label,
        .input--filled .input__label {
            color: rgba(#fff, .3);
            font-size: 12px;
            top: -6px;
        }

        .input__field:focus~.graphic,
        .input--filled .graphic {
            stroke: rgba(#fff, .2);
            transform: translate3d(-66.6%, 0, 0);
        }

        .input__error {
            position: absolute;
            bottom: -20px;
            left: 0;
            font-size: 12px;
            color: rgba(255, 0, 0, .5);
            opacity: 0;
            transition: .3s opacity linear;
        }

        .error .input__error {
            opacity: 1;
        }
    }

    .oval-button {
        margin-top: 50px;

        @media (max-width: 675px) {
            margin-top: 30px;
        }
    }
}

#my-form-status {
    font-family: $avenir-m;
    font-size: 16px;
    color: $white;
    letter-spacing: 0;
    margin-top: 35px;
    transition: .3s all linear;

    &.hide {
        visibility: hidden;
    }
}
