.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 79px;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 20px;
    z-index: 90;

    @media (max-width: 767px) {
        width: 100%;
        height: 79px;
        padding-top: 0;
        background: #000;
        border-right: none;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }

    @media (max-device-width: 768px) and (orientation: landscape) {
        width: 100%;
        height: 52px;
        padding-top: 0;
        background: #000;
        border-right: none;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }

    &__layout {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        -webkit-writing-mode: vertical-rl;
        writing-mode: tb-rl;

        @media (max-width: 767px) {
            writing-mode: unset;
        }

        @media (max-device-width: 768px) and (orientation: landscape) {
            writing-mode: unset;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        width: 100%;
        height: 138px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);

        .circles {
            margin-bottom: 20px;
        }

        span {
            font-family: $avenir-m;
            font-size: 14px;
            color: $white;
            -webkit-writing-mode: vertical-rl;
            writing-mode: tb-rl;
        }

        @media (max-width: 767px) {
            height: 100%;
            width: auto;
            padding: 11px;
            border-bottom: none;
            border-right: 1px solid rgba(255, 255, 255, 0.15);

            .circles {
                margin-bottom: 0;
            }

            span {
                display: none;
            }
        }

        @media (max-device-width: 768px) and (orientation: landscape) {
            height: 100%;
            width: auto;
            padding: 11px;
            border-bottom: none;
            border-right: 1px solid rgba(255, 255, 255, 0.15);

            .circles {
                margin-bottom: 0;
            }

            span {
                display: none;
            }
        }
    }

    &__nav {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

        ul {
            padding-top: 40px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            z-index: -1;

            li {
                margin-bottom: 40px;

                @media (max-device-width: 768px) and (orientation: landscape) {
                    margin-bottom: 20px;
                }

                a {
                    font-family: $avenir-m;
                    font-size: 14px;
                    color: $white;
                    transition: .3s color linear;

                    &:hover {
                        color: $yellow;
                    }

                    .char {
                        opacity: 0;
                    }
                }
            }

            @media (max-width: 767px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 78px;
                left: -63px;
                width: 103vw;
                height: 100vh;
                background-color: #000;
                background-image: url("../img/png/r.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 50% 35%;
                padding: 0;
                opacity: 0;
                visibility: hidden;
                transition: .3s all linear;
            }

            @media (max-device-width: 768px) and (orientation: landscape) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                position: absolute;
                top: 53px;
                left: -63px;
                width: 103vw;
                height: 100vh;
                background-color: #000;
                background-image: url("../img/png/r.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 50% 35%;
                padding: 0;
                padding-top: 40px;
                opacity: 0;
                visibility: hidden;
                transition: .3s all linear;
            }

            &.active {
                z-index: 1;
                opacity: 1;
                visibility: visible;
            }
        }

        .abs-logo {
            position: absolute;
            top: 50%;
            left: auto;
            transform: rotate(90deg);
            height: 20px;
            width: auto;
            visibility: visible;

            @media (max-width: 767px) {
                height: 18px;
                position: relative;
                top: auto;
                right: auto;
                width: 121px;
                margin: 0 auto;
                transform: rotate(0);
                margin-top: -10px;
            }

            @media (max-device-width: 768px) and (orientation: landscape) {
                height: 18px;
                position: relative;
                top: auto;
                right: auto;
                width: 121px;
                margin: 0 auto;
                transform: rotate(0);
                margin-top: -10px;
            }

            &.hidden {
                // display: none;
                visibility: hidden;
            }

            img {
                width: 100%;
                height: 100%;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                @media (max-width: 767px) {
                    display: none;
                }

                @media (max-device-width: 768px) and (orientation: landscape) {
                    display: none;
                }

                span {
                    display: block;
                    width: 10px;
                    height: 30px;
                    background: #000;
                    margin-left: 11px;
                    opacity: 1;
                    z-index: -1;
                    margin-top: -6px;
                }
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 78px;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        padding: 20px;

        a {
            svg {
                display: block;
                margin: 0 auto;

                g {
                    transition: .3s stroke linear;
                }
            }
        }

        a:hover {
            svg g {
                stroke: $yellow;
            }
        }

        @media (max-width: 767px) {
            height: 100%;
            width: auto;
            border-top: none;
            border-left: 1px solid rgba(255, 255, 255, 0.15);

            span {
                display: none;
            }
        }

        @media (max-device-width: 768px) and (orientation: landscape) {
            height: 100%;
            width: auto;
            border-top: none;
            border-left: 1px solid rgba(255, 255, 255, 0.15);

            span {
                display: none;
            }
        }
    }
}

.circles {
    width: 26px;
    height: 24px;
    position: relative;
    transform-origin: 50% 50%;
    transition: 3s transform cubic-bezier(0.5, 1, 0.89, 1);
}

.circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: .3s all linear;
}

.circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 6px;
    height: 6px;
    background-color: $white;
    border-radius: 100%;
}

.circle1 {
    transform: translateX(-5px);
}

.circle2 {
    transform: translateX(5px);
}

.circle3 {
    transform: rotate(88deg);
}

.circle4 {
    transform: rotate(150deg);
}

.circle5 {
    transform: rotate(210deg);
}

.circle6 {
    transform: rotate(272deg);
}

.circles.active {
    transition-delay: .5s;
    transform: scale(2);

    .circle1 {
        transform: translateY(9px)
    }

    .circle2 {
        transform: translate(0px, 9px);
    }

    .circle3 {
        transform: rotate(88deg) translateY(9px);
    }

    .circle4 {
        transform: rotate(150deg) translateY(9px);
    }

    .circle5 {
        transform: rotate(210deg) translateY(9px);
    }

    .circle6 {
        transform: rotate(272deg) translateY(9px);
    }
}

.header__menu button:hover {
    .circles {
        transform: rotate(360deg);
    }
}
