.basic-text {
    font-family: $avenir-m;
    font-size: 13px;
    color: $white;
    letter-spacing: 0;
    line-height: 1.6;
    text-transform: uppercase;

    @media (max-width: 1080px) {
    	font-size: 12px;
    }
}
