.about-section {
    height: 100%;

    h2 {
        font-family: $avenir-b;
        @include fluid-font(94px,
        54px,
        $minDesktopHD,
        $minMobile);
        color: $white;
        text-align: right;
        @include line-height(82px,
        49px,
        $minDesktopHD,
        $minMobile);
        text-transform: uppercase;
        max-width: 396px;
        margin-bottom: 70px;

        @media (min-width: 1441px) {
            font-size: 94px;
            line-height: 82px;
        }
    }

    .basic-text {
        max-width: 396px;
        text-align: right;
        margin-bottom: 20px;
    }

    img {
        display: block;
        margin: 0 auto;
        height: 518px;
        width: auto;
        // transform: scale(0);
        // transition: .5s transform linear;

        @media (max-width: 675px) {
            height: 198px;
        }

        // &.visible {
        //     transform: scale(1);
        // }
    }

    .inner {

        @media (max-width: 675px) {
            flex-wrap: wrap;
        }

        .item {
            &:first-child {
                width: 45%;
                border-right: 1px solid rgba(255, 255, 255, 0.15);
                padding: 0 15px;

                @media (max-width: 675px) {
                    width: 100%;
                }
            }

            &:last-child {
                position: relative;
                padding-top: 120px;
                padding-bottom: 110px;

                @media (max-width: 675px) {
                    order: -1;
                    padding: 60px 0;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #000;
                    transform-origin: left;
                    transform: scaleX(1);
                    transition: 1s transform linear;
                }

                &.visible {
                    &::after {
                        transform: scaleX(0);
                    }
                }
            }

            @media (max-width: 675px) {
                width: 100%;
            }
        }
    }
}

.about-section h2 .char {
    opacity: 0;
}

.about-section .basic-text .word {
    display: inline-block;
    transform: translateY(100%);
    opacity: 0;
}
