.contact {
    border-top: 1px solid rgba(255, 255, 255, 0.15);

    .inner {

        @media (max-width: 675px) {
            flex-wrap: wrap;
        }

        .item {
            &:first-child {
                width: 78%;
                border-right: 1px solid rgba(255, 255, 255, 0.15);
                padding-top: 130px;
                padding-bottom: 90px;

                @media (max-width: 991px) {
                    padding-top: 70px;
                    padding-bottom: 40px;
                }

                @media (max-width: 675px) {
                    width: 100%;
                    padding-top: 40px;
                }
            }

            &:last-child {
                position: relative;
                padding: 0 20px;

                @media (max-width: 675px) {
                    width: 100%;
                }

                >div:not(.abs-img) {
                    margin-bottom: 35px;
                }

                a,
                p {
                    display: block;
                }

                a:hover {
                    color: $yellow;
                }
            }
        }

        .abs-img {
            top: 50%;
            left: -50%;
            transform: translateY(-50%);
            width: 460px;
            height: 460px;
            z-index: -1;

            object {
                width: 100%;
                height: 100%;
                animation: heartbeat 3s infinite;
                animation-timing-function: linear;
            }

            @media (max-width: 675px) {
                width: 350px;
                height: 350px;
                left: auto;
                right: -25%;
            }

            @media (max-width: 475px) {
                right: -35%;
            }

            @media (max-width: 375px) {
                right: -45%;
            }
        }
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
