.hero-section {
    position: relative;
    min-height: 100vh;
    height: 100%;

    .inner {
        min-height: 100vh;

        @media (max-width: 1080px) {
            flex-wrap: wrap;
        }

        .block {
            &--left {
                width: 28%;
            }

            &--right {
                width: 72%;
            }

            @media (max-width: 1080px) {
                width: 100%;
            }
        }
    }
}

.block--left {
    .item {
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        border-right: 1px solid rgba(255, 255, 255, 0.15);
        height: 100%;

        &:first-child {
            min-height: 293px;
        }

        &:last-child {
            display: flex;

            @media (max-width: 1080px) {
                display: none;
            }
        }
    }

    .logo {
        height: 25px;
        width: auto;
    }

    .abs-letter {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: calc(100% - 70px);
        height: -webkit-calc(100% - 70px);
        max-height: 280px;
        transform: translate(-50%, -50%);
        z-index: -1;

        img {
            display: block;
            height: 100%;
            width: auto;
            margin: 0 auto;
        }
    }
}

.block--left .item:first-child {
    .btn-play {
        display: none;

        @media (max-width: 1080px) {
            display: block;
            position: absolute;
            bottom: 30px;
            right: 30%;
            top: auto;
        }

        @media (max-width: 767px) {
            right: 25%;
        }

        @media (max-width: 475px) {
            right: 15%;
        }
    }
}

.block--right {
    .empty-area {
        min-width: 140px;
        height: 100%;
        border-right: 1px solid rgba(255, 255, 255, 0.3);

        .item {
            position: relative;
            height: 50%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        }

        @media (max-width: 1280px) {
            min-width: 70px;
        }

        @media (max-width: 767px) {
            min-width: 60px;
        }
    }

    .full-area {
        width: 100%;

        .wrapper {
            height: 50%;

            @media (max-width: 1080px) {
                height: 100%;
            }
        }
    }
}

.block--right .empty-area .item:last-child {
    overflow: hidden;

    &::before,
    &::after {
        content: url("../img/svg/line.svg");
        position: absolute;
        left: 0;
        width: 100%;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

.block--right .full-area .wrapper:first-child {

    .title-wrap {
        align-items: flex-start;
        width: 85%;
        height: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);

        @media (max-width: 1280px) {
            width: 90%;
        }

        @media (max-width: 1080px) {
            align-items: flex-end;
            padding: 30px 15px;
        }

        .wrap {
            padding-left: 35px;

            @media (max-width: 675px) {
                transform: translateX(-10%);
            }
        }

        .optional {
            font-family: $avenir-h;
            font-size: 18px;
            color: $white;
            text-align: right;
            line-height: 22px;
            text-transform: uppercase;
            text-align: right;
            margin-bottom: 2px;
        }

        .oval-button {
            margin-right: 20px;
        }
    }

    .empty-block {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 15%;
        border-right: 1px solid rgba(255, 255, 255, 0.15);
        border-left: 1px solid rgba(255, 255, 255, 0.15);

        &::before {
            content: url("../img/svg/line.svg");
            position: absolute;
            top: 0;
            left: 0;
        }

        @media (max-width: 1280px) {
            width: 10%;
        }
    }
}

.block--right .full-area .wrapper:last-child {
    .empty-block {
        position: relative;
        height: 50%;
        border-right: 1px solid rgba(255, 255, 255, 0.15);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);

        @media (max-width: 1080px) {
            height: 64px;
        }

        .line {
            position: absolute;
            top: 0;
            right: -3px;
            width: auto;
            height: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .btn-play {
            @media (max-width: 1080px) {
                display: none;
            }
        }
    }

    .desc {
        padding-top: 40px;
        padding-left: 48px;
        padding-right: 20px;
        padding-bottom: 20px;
        border-right: 1px solid rgba(255, 255, 255, 0.15);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        @media (max-width: 767px) {
            padding-top: 20px;
            padding-left: 25px;
        }

        blockquote {
            max-width: 535px;
            width: 100%;
            margin: 0;

            @media (max-width: 675px) {
                max-width: 85%;
            }

            cite {
                display: block;
                text-align: right;
                font-style: normal;
                width: 100%;
                margin-top: 30px;
            }
        }
    }
}

.h1 {
    justify-content: space-between;

    &:first-child {
        @media (max-width: 675px) {
            flex-wrap: wrap;

            span {
                width: 100%;
                text-align: right;
            }
        }
    }

    &:last-child {
        align-items: center;
        justify-content: flex-end;

        @media (max-width: 1080px) {
            flex-direction: column;
            align-items: flex-end;

            span {
                order: -1;
            }

            .oval-button {
                margin-top: 20px;
            }
        }
    }

    img,
    svg,
    object,
    .js-icon {
        display: block;
        height: 54px;
        width: 54px;
        margin-right: 23px;

        @media (max-width: 1080px) {
            height: 48px;
        }

        @media (max-width: 675px) {
            margin-right: 2px;
        }
    }

    svg {
        overflow: visible;
    }

    span {
        font-family: $avenir-b;
        @include fluid-font(64px,
        34px,
        $minDesktopHD,
        $minMobile);
        color: $white;
        @include line-height(59px,
        39px,
        $minDesktopHD,
        $minMobile);
        text-transform: uppercase;

        @media (min-width: 1441px) {
            font-size: 64px;
            line-height: 59px;
        }
    }
}

.ellipse {
    transform-origin: 50% 50%;
    animation-name: down;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition-timing-function: cubic-bezier(0.4, 0.25, 0, 1);
}

.ellipse--1 {
    animation-delay: .2s;
}

.ellipse--2 {
    animation-delay: .5s;
}

.ellipse--3 {
    animation-delay: 1s;
}

.ellipse--4 {
    animation-delay: 1.5s;
}

@keyframes down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(30px);
    }
}

.svg-circle {
    animation-name: rotate;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.optional .word .char {
    opacity: 0;
}

.h1 span .word .char {
    opacity: 0;
}

.block--right .full-area .wrapper:last-child .desc blockquote cite {
    opacity: 0;
    transition: .3s opacity linear;

    &.visible {
        opacity: 1;
    }
}

.block--right .full-area .wrapper:last-child .desc blockquote .basic-text .word {
    display: inline-block;
    transform: translateY(100%);
    opacity: 0;
}
