.second-screen {
    position: relative;
    height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    .inner {
        @media (max-width: 991px) {
            flex-wrap: wrap;
        }
    }

    // #ill-1 {
    //     height: 115px;
    // }

    // #ill-2 {
    //     height: 199px;
    // }

    .js-ill {
        height: 150px;
        margin-bottom: 65px;
    }

    .item-title {
        padding: 0 35px;
        border-right: 1px solid rgba(255, 255, 255, 0.15);

        @media (max-width: 1080px) {
            padding: 0 28px;
        }

        @media (max-width: 991px) {
            padding: 28px 0;
            width: 100%;
            border-right: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);

            &--right {
                border-top: 1px solid rgba(255, 255, 255, 0.15);
            }
        }

        h2 {
            font-family: $avenir-b;
            @include fluid-font(94px,
            54px,
            $minDesktopHD,
            $minMobile);
            color: $white;
            text-align: center;
            @include line-height(82px,
            39px,
            $minDesktopHD,
            $minMobile);
            text-transform: uppercase;
            -webkit-writing-mode: vertical-rl;
            writing-mode: tb-rl;
            margin: 0;

            @media (min-width: 1441px) {
                font-size: 94px;
                line-height: 82px;
            }

            @media (max-width: 991px) {
                writing-mode: unset;
            }
        }
    }

    .item-text {
        width: 100%;
        padding-top: 75px;
        padding-bottom: 125px;
        padding-left: 10px;
        padding-right: 15px;
        border-right: 1px solid rgba(255, 255, 255, 0.15);

        .basic-text {
            max-width: 340px;
        }

        @media (max-width: 991px) {
            padding-top: 38px;
            padding-bottom: 38px;
            border-right: none;
        }
    }
}

.second-screen h2 .char {
    opacity: 0;
}

.second-screen .item-text .basic-text .word {
    display: inline-block;
    transform: translateY(100%);
    opacity: 0;
}
