.third-screen {
    height: 100%;
    position: relative;

    .interactive-block {
        position: relative;
        // overflow: hidden;
        padding: 18% 0;
    }

    h2 {
        font-family: $avenir-b;
        @include fluid-font(94px,
        54px,
        $minDesktopHD,
        $minMobile);
        color: $white;
        text-align: right;
        @include line-height(82px,
        49px,
        $minDesktopHD,
        $minMobile);
        text-transform: uppercase;
        max-width: 50%;
        padding-right: 15px;

        @media (min-width: 1441px) {
            font-size: 94px;
            line-height: 82px;
        }

        @media (max-width: 675px) {
            max-width: 100%;
        }

        .space {
            display: inline-block;
            width: 80px;

            @media (max-width: 675px) {
                width: 60px;
            }
        }
    }

    .abs-letters {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: -79px;
        width: calc(100% + 79px);
        height: 100%;
        z-index: -1;
    }

    .text-block {
        margin-top: -5%;

        .item {
            max-width: 990px;
            width: 100%;

            &__desc {
                max-width: 688px;
                margin-bottom: 22px;
            }

            .number {
                font-family: $prestage;
                font-size: 284px;
                color: $white;
                line-height: .9;
                margin: 0 5px;

                @media (max-width: 991px) {
                    font-size: 204px;
                }
            }

            .basic-text {
                max-width: 463px;
                margin: 0 0 0 auto;
                text-align: left;
            }

            &__decor {
                height: 30px;
                position: relative;

                span {
                    position: absolute;
                    bottom: 13px;
                    right: -5px;
                    background: rgba(255, 255, 255, 0.15);
                    width: 36px;
                    height: 1px;
                    transform: rotate(45deg);
                }

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    height: 1px;
                }

                &::before {
                    top: 3px;
                    left: 0;
                    width: calc(100% - 26px);
                    background: rgba(255, 255, 255, 0.15);
                }

                &::after {
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: $white;
                }
            }

            &:nth-child(odd) {

                @media (max-width: 991px) {
                    padding-right: 15px;
                }

                .item__desc {
                    margin-left: 50px;

                    @media (max-width: 991px) {
                        margin-left: 5px;
                    }
                }
            }

            &:nth-child(even) {
                margin-left: auto;
                margin-right: 0;

                @media (max-width: 991px) {
                    padding-left: 15px;
                }

                .item__desc {
                    margin-right: 130px;
                    margin-left: auto;

                    @media (max-width: 991px) {
                        margin-right: 5px;
                    }

                    .basic-text {
                        margin: 0 auto 0 0;
                        text-align: right;
                    }
                }

                .item__decor {
                    transform: scaleX(-1);
                }
            }
        }
    }
}

$items: 7;
$transition: 900ms;

.js-animation-wrap {
    opacity: 0;
    transform: translateY(100%);
    transition: 2s all linear;

    &.animated {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    &:nth-child(odd) {
        animation-delay: 1s;

        .js-parallaxItem {

            img {
                transform: translateY(-220px);
            }
        }
    }

    &:nth-child(even) {

        .js-parallaxItem {

            img {
                transform: translateY(-10px);
            }
        }
    }

    &:first-child {
        .js-parallaxItem {

            img {
                transform: translateY(-280px);
            }
        }
    }

    &:last-child {
        .js-parallaxItem {

            img {
                transform: translateY(-280px);
            }
        }
    }

    &.fadeup {
        opacity: 1;
        transform: translateY(0);

        @for $i from 0 through $items {
            &:nth-child(#{$i + 1}) {
                transition-delay: $transition+(60ms*($i));
            }
        }
    }
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.third-screen .text-block .item .basic-text .word {
    display: inline-block;
    transform: translateY(100%);
    opacity: 0;
    transition: .3s all linear;
}

.third-screen .text-block .item {
    &.fadeup {
        .basic-text .word {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
