<div class="modal micromodal-slide" id="video-modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-describedby="video-modal-content">
      <div class="inner" role="document">
        <main class="modal__content">
          <div class="video__wrapper">
            <!-- Copy & Pasted from YouTube or Vimeo -->
            <iframe src="https://player.vimeo.com/video/52695805?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
<!-- CURSOR -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>
<script src="js/bundle.js"></script>
</body>

</html>
