<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#000000">
  <meta name="description" content="" />
  <link rel="shortcut icon" href="favicon/favicon.ico" />
  <link rel="stylesheet" href="css/style.css" />
  <title>
    <%=title%>
  </title>
</head>

<body>
  <header class="header">
    <div class="header__layout d-flex">
      <div class="header__menu">
        <button type="button">
          <div class="circles">
            <div class="circle1 circle"></div>
            <div class="circle2 circle"></div>
            <div class="circle3 circle"></div>
            <div class="circle4 circle"></div>
            <div class="circle5 circle"></div>
            <div class="circle6 circle"></div>
          </div>
          <span>menu</span>
        </button>
      </div>
      <nav class="header__nav">
        <a href="/" class="abs-logo">
          <img src="./img/png/logo.png">
          <div class="overlay">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <ul class="d-flex">
          <li>
            <a href="#hero" class="js-anchor" data-splitting>home</a>
          </li>
          <li>
            <a href="#secondScreen" class="js-anchor" data-splitting>what</a>
          </li>
          <li>
            <a href="#thirdScreen" class="js-anchor" data-splitting>how it works</a>
          </li>
          <li>
            <a href="#about" class="js-anchor" data-splitting>who we are</a>
          </li>
        </ul>
      </nav>
      <div class="header__link">
        <a href="#contact" class="js-anchor">
          <svg width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
            <g stroke="#FFF" fill="none" fill-rule="evenodd">
              <g transform="translate(1 1)">
                <circle cx="13" cy="13" r="13" />
                <path stroke-linecap="square" d="M0 13h26M2.985 21.328c2.838-1.77 6.176-2.656 10.013-2.656 3.837 0 7.166.885 9.987 2.656M2.985 4.867c2.838 1.771 6.176 2.657 10.013 2.657 3.837 0 7.166-.886 9.987-2.657" />
              </g>
              <path stroke-linecap="square" d="M14 1v26" />
            </g>
          </svg>
        </a>
      </div>
    </div>
  </header>
