<% var data = {title: "SURЯEAL"}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main class="main js-parallax" data-paralax-axe="">
  <section class="hero-section" id="hero">
    <div class="inner h-100 w-100 d-flex align-items-stretch">
      <!-- block 1 -->
      <div class="block block--left d-flex flex-column align-items-stretch justify-content-stretch">
        <div class="item d-flex align-items-center justify-content-center">
          <div class="abs-letter">
            <img src="./img/png/r.png">
          </div>
          <a href="/">
            <img src="./img/png/logo.png" class="logo">
          </a>
          <button type="button" class="btn-play" data-micromodal-trigger="video-modal">
            <svg width="12" height="16" viewBox="0 0 12 16" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1.918v12.033a1 1 0 001.601.8l8.296-6.24a1 1 0 00-.028-1.62L2.573 1.099A1 1 0 001 1.918z" stroke="#FFF" fill-rule="evenodd" /></svg>
          </button>
        </div>
        <div class="item align-items-center justify-content-center">
          <a href="#secondScreen" class="btn-down js-anchor">
            <svg width="60" height="62" viewBox="0 0 60 62" xmlns="http://www.w3.org/2000/svg">
              <path d="M35 1v40.888L52.925 24 60 31.06 30 61 0 31.06 7.075 24 25 41.888V1h10z" fill-rule="evenodd" stroke="#FFF" />
            </svg>
          </a>
        </div>
      </div>
      <!-- block 2 -->
      <div class="block block--right d-flex align-items-stretch">
        <div class="empty-area">
          <div class="item"></div>
          <div class="item"></div>
        </div>
        <div class="full-area d-flex flex-column align-items-stretch">
          <div class="wrapper d-flex">
            <div class="title-wrap d-flex flex-column justify-content-center">
              <div class="wrap">
                <div class="h1 d-flex align-items-center justify-content-end">
                  <div class="d-flex align-items-center">
                    <div id="iconOne" class="js-icon"></div>
                    <div id="iconTwo" class="js-icon"></div>
                  </div>
                  <span data-splitting>Virtual</span>
                </div>
                <div class="h1 d-flex align-items-center justify-content-end">
                  <span data-splitting>environments</span>
                </div>
                <p class="optional" data-splitting>For all</p>
                <div class="h1 d-flex">
                  <a href="#contact" class="oval-button js-anchor"><span class="border"></span>
                    <p class="text">Contact</p><span class="shadow"></span>
                  </a>
                  <span data-splitting>experiences</span>
                </div>
              </div>
            </div>
            <div class="empty-block"></div>
          </div>
          <div class="wrapper d-flex flex-column">
            <div class="empty-block">
              <button type="button" class="btn-play" data-micromodal-trigger="video-modal">
                <svg width="12" height="16" viewBox="0 0 12 16" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1.918v12.033a1 1 0 001.601.8l8.296-6.24a1 1 0 00-.028-1.62L2.573 1.099A1 1 0 001 1.918z" stroke="#FFF" fill-rule="evenodd" /></svg>
              </button>
              <div class="line"></div>
            </div>
            <div class="desc h-100">
              <blockquote>
                <p class="basic-text" data-splitting>
                  “I used to joke about it in front of audiences when they would ask what it’s like being on The Tonight Show, and I said “it’s like there is doorknob on the front of your TV and you open it and you get inside the TV, that’s what it’s like when you’re sitting next to Johnny Carson.”
                </p>
                <cite class="basic-text">Jerry Seinfeld</cite>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- SECOND SCREEN -->
  <section class="second-screen" id="secondScreen">
    <div class="inner d-flex align-items-stretch justify-content-center">
      <div class="item-title d-flex align-items-center justify-content-center">
        <h2 data-splitting>What</h2>
      </div>
      <div class="item-text d-flex justify-content-center align-items-center">
        <div class="inner h-100 d-flex flex-column align-items-start justify-content-around">
          <div id="ill-1" class="js-ill"></div>
          <p class="basic-text" data-splitting>Surreal provides a virtual landscape for new experiences, enabling audiences to connect, create, collaborate and celebrate in entirely new ways.</p>
        </div>
      </div>
      <div class="item-title item-title--right d-flex align-items-center justify-content-center">
        <h2 data-splitting>Why</h2>
      </div>
      <div class="item-text d-flex justify-content-center align-items-center">
        <div class="inner h-100 d-flex flex-column align-items-start justify-content-around">
          <div id="ill-2" class="js-ill"></div>
          <p class="basic-text" data-splitting>By reimagining our relationship with the digital and physical worlds, Surreal bridges the possible and impossible to bring any event to life—in any virtual environment imaginable.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- THIRD SCREEN -->
  <section class="third-screen" id="thirdScreen">
    <div class="interactive-block d-flex align-items-center justify-content-around h-100 w-100">
      <div class="abs-letters">
        <div class="js-animation-wrap">
          <div class="js-parallaxItem" data-parallax-offset="30">
            <img src="./img/png/letters/s.png">
          </div>
        </div>
        <div class="js-animation-wrap">
          <div class="js-parallaxItem" data-parallax-offset="70">
            <img src="./img/png/letters/u.png">
          </div>
        </div>
        <div class="js-animation-wrap">
          <div class="js-parallaxItem" data-parallax-offset="40">
            <img src="./img/png/letters/r.png">
          </div>
        </div>
        <div class="js-animation-wrap">
          <div class="js-parallaxItem" data-parallax-offset="70">
            <img src="./img/png/letters/r-2.png">
          </div>
        </div>
        <div class="js-animation-wrap">
          <div class="js-parallaxItem" data-parallax-offset="50">
            <img src="./img/png/letters/e.png">
          </div>
        </div>
        <div class="js-animation-wrap">
          <div class="js-parallaxItem" data-parallax-offset="70">
            <img src="./img/png/letters/a.png">
          </div>
        </div>
        <div class="js-animation-wrap">
          <div class="js-parallaxItem" data-parallax-offset="60">
            <img src="./img/png/letters/l.png">
          </div>
        </div>
      </div>
      <h2>How <span class="space"></span> it works</h2>
    </div>
    <div class="text-block">
      <!-- 1 -->
      <div class="item">
        <div class="item__desc d-flex align-items-end">
          <p class="number">1</p>
          <div class="basic-text" data-splitting>A first of its kind multi user environment with built in voice chat and specialized spatial audio to allow for multiple conversations at the same time without talking over people.</div>
        </div>
        <div class="item__decor">
          <span></span>
        </div>
      </div>
      <!-- 2 -->
      <div class="item">
        <div class="item__desc d-flex align-items-end flex-row-reverse">
          <p class="number">2</p>
          <div class="basic-text" data-splitting>The environment can be fully customized to meet any wants or desires to help you truly define YOUR space.</div>
        </div>
        <div class="item__decor">
          <span></span>
        </div>
      </div>
      <!-- 3 -->
      <div class="item">
        <div class="item__desc d-flex align-items-end">
          <p class="number">3</p>
          <div class="basic-text" data-splitting>Built-in interactions help keep your attendees engaged during the process and put them in control of participation level.</div>
        </div>
        <div class="item__decor">
          <span></span>
        </div>
      </div>
      <!-- 4 -->
      <div class="item">
        <div class="item__desc d-flex align-items-end flex-row-reverse">
          <p class="number">4</p>
          <div class="basic-text" data-splitting>Pre-designed meeting spaces allow for a much more in person experience during video conference calls.</div>
        </div>
        <div class="item__decor">
          <span></span>
        </div>
      </div>
    </div>
  </section>
  <section class="about-section" id="about">
    <div class="inner d-flex align-items-stretch justify-content-around">
      <div class="item d-flex flex-column justify-content-center align-items-center">
        <h2 data-splitting>Who we are</h2>
        <p class="basic-text" data-splitting>Surreal Events & Environments (SEE) is a full-service virtual event marketing and production company.</p>
        <p class="basic-text" data-splitting>We help clients rethink events, environments and experiences—virtually—from strategy to creative, design to execution, outcome to analytics.</p>
      </div>
      <div class="item">
        <img src="./img/png/r.png">
      </div>
    </div>
  </section>
  <section class="contact" id="contact">
    <div class="inner d-flex align-items-stretch justify-content-center">
      <div class="item">
        <form class="contact-form" action="https://formspree.io/xdolanal" method="POST">
          <fieldset>
            <legend>Let's get started</legend>
            <!-- 1 -->
            <div class="inputs-group">
              <div class="input">
                <input class="input__field" type="text" id="name" name="name" />
                <span class="input__error">Required field</span>
                <label class="input__label" for="name">Name</label>
                <div>
                  <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                  </svg>
                </div>
              </div>
              <div class="input">
                <input class="input__field" type="email" id="email" name="email" />
                <span class="input__error">Required field</span>
                <label class="input__label" for="email">Email</label>
                <div>
                  <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                  </svg>
                </div>
              </div>
            </div>
            <!-- 2 -->
            <div class="inputs-group">
              <div class="input">
                <input class="input__field" type="tel" id="phone" name="phone" />
                <span class="input__error">Required field</span>
                <label class="input__label" for="phone">Phone Number</label>
                <div>
                  <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                  </svg>
                </div>
              </div>
              <div class="input">
                <input class="input__field" type="text" id="company" name="company" />
                <label class="input__label" for="company">Company</label>
                <div>
                  <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                  </svg>
                </div>
              </div>
            </div>
            <!-- 3 -->
            <div class="inputs-group">
              <div class="input input--textarea">
                <textarea class="input__field" id="textarea" name="textarea"></textarea>
                <span class="input__error">Required field</span>
                <label class="input__label" for="textarea">Type your text here</label>
                <div>
                  <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
                    <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0" />
                  </svg>
                </div>
              </div>
            </div>
          </fieldset>
          <button type="submit" class="oval-button"><span class="border"></span>
            <p class="text">Send</p><span class="shadow"></span>
          </button>
          <p id="my-form-status"></p>
        </form>
      </div>
      <div class="item d-flex flex-column justify-content-center align-items-start">
        <div class="abs-img position-absolute">
          <object type="image/svg+xml" data="./img/svg/footerai.svg"></object>
        </div>
        <div class="social">
          <a href="#" target="_blank" class="basic-text">Facebook</a>
          <a href="#" target="_blank" class="basic-text">Instagram</a>
        </div>
        <div class="communication">
          <a href="tel:0851302352" class="basic-text">085 – 130 23 52</a>
          <a href="mailto:hello@surreal.com" class="basic-text">hello@surreal.com</a>
        </div>
        <div class="address">
          <p class="basic-text">68 Wellington St.</p>
          <p class="basic-text">Vista, CA 92083</p>
        </div>
      </div>
    </div>
    <footer class="footer">
      <p class="apo-branding">Designed by <a href="https://www.behance.net/apo-branding" target="_blank"><span class="logo"></span>Apo Branding</a></p>
    </footer>
  </section>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>
