@font-face {
    font-family: 'Avenir-Black';
    src: url('../fonts/avenir/Avenir-Black.eot');
    src: url('../fonts/avenir/Avenir-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/avenir/Avenir-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'AvenirLTStd-Heavy';
    src: url('../fonts/avenir/AvenirLTStd-Heavy.eot');
    src: url('../fonts/avenir/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/avenir/AvenirLTStd-Heavy.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'AvenirLTStd-Medium';
    src: url('../fonts/avenir/AvenirLTStd-Medium.eot');
    src: url('../fonts/avenir/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/avenir/AvenirLTStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'AvenirLTStd-Roman';
    src: url('../fonts/avenir/AvenirLTStd-Roman.eot');
    src: url('../fonts/avenir/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/avenir/AvenirLTStd-Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'PrestageRegular';
    src: url('../fonts/prestage/PrestageRegular.eot');
    src: url('../fonts/prestage/PrestageRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/prestage/PrestageRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}