@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;

        @if $asset-pipeline==true {
            src: font-url('#{$file-path}.eot');
            src: font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
            font-url('#{$file-path}.woff') format('woff'),
            font-url('#{$file-path}.ttf') format('truetype');
        }

        @else {
            src: url('#{$file-path}.eot');
            src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
            url('#{$file-path}.woff') format('woff'),
            url('#{$file-path}.ttf') format('truetype');
        }
    }
}

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-font ($maxSize,
$minSize,
$maxWidth,
$minWidth) {
    font-size: $maxSize;

    @media (min-width: $minWidth) {
        font-size: calc(#{$minSize} + #{strip-unit($maxSize - $minSize)} * ((100vw - #{$minWidth}) / #{strip-unit($maxWidth - $minWidth)}));
    }

    @media (max-width: $minWidth) {
        font-size: $minSize;
    }
}

$maxHeight: inherit;

@mixin line-height ($maxHeight, $minHeight, $maxWidth, $minWidth) {
    line-height: $maxHeight;

    @media (max-width: $maxWidth) and (min-width: $minWidth) {
        line-height: calc(#{$minHeight} + #{strip-unit($maxHeight - $minHeight)} * ((100vw - #{$minWidth}) / #{strip-unit(
 $maxWidth - $minWidth)
    }

    ));
}

@media (max-width: $minWidth) {
    line-height: $minHeight;
}
}

@mixin p ($color) {
    position: relative;
    color: $color;
    @include fluid-font(52px,
    32px,
    $maxDesktop,
    $maxMobile);
    text-transform: uppercase;
}

@mixin transform($transforms) {
    transform: $transforms;
}

@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

@mixin rotated-text($num-letters: 100,
$angle-span: 180deg,
$angle-offset: 0deg) {
    $angle-per-char: $angle-span / $num-letters;

    @for $i from 1 through $num-letters {
        .char#{$i} {
            @include transform(rotate($angle-offset + $angle-per-char * $i));
        }
    }
}
