$grid-gutter-width: 20px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440px, xxxl: 1680px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1260px, xxxl: 1600px);

$gutter: $grid-gutter-width;

//breakpoints for fluid-font
$minDesktopHD: 1440px;

$maxDesktop: 1920px;
$minDesktop: 1080px;

$maxTablet: 1079px;
$minTablet: 720px;

$maxMobile: 719px;
$minMobile: 420px;

//colors
$black: #000;
$white: #fff;
$blue: #15223D;
$yellow: #FFCF00;

//fonts
$avenir-b: "Avenir-Black", sans-serif;
$avenir-h: "AvenirLTStd-Heavy", sans-serif;
$avenir-m: "AvenirLTStd-Medium", sans-serif;
$avenir-r: "AvenirLTStd-Roman", sans-serif;
$prestage: "PrestageRegular", sans-serif;